@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 237 237 237;
  --foreground: 18 18 18;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 18 18 18;
    --foreground: 237 237 237;
  }
}
